<div class="container">
  <h1>Sliding Window Visualizer</h1>

  <div class="controls-section">
    <label for="problemSelect">
      Select a Problem:
      <select name="selectedProblem" [(ngModel)]="selectedProblem" (change)="onProblemChange()">
        <option *ngFor="let p of problems" [value]="p.id">{{ p.label }}</option>
      </select>
    </label>
    <label for="inputArray">
      Input(Array/String):
      <input name="inputArray" type="text" [(ngModel)]="inputArray" placeholder="[1,2,3]" />
    </label>

    <label *ngIf="selectedProblem === 'string_permutation' || selectedProblem === 'min_window_substring'" for="patternInput">
      <ng-container *ngIf="selectedProblem === 'string_permutation'">
        Pattern:
      </ng-container>
      <ng-container *ngIf="selectedProblem === 'min_window_substring'">
        Target(t):
      </ng-container>
      <input name="pattern" type="text" [(ngModel)]="pattern" placeholder="e.g., abc or ABC" />
    </label>
    <label *ngIf="selectedProblem !== 'string_permutation' && selectedProblem !== 'min_window_substring' && selectedProblem !== 'two_distinct_chars' && selectedProblem !== 'no_repeat_substring'" for="kInput">
      K / Target:
      <input name="k" type="number" [(ngModel)]="k" />
    </label>

    <button (click)="run()">Run</button>
  </div>

  <div class="content-display">
    <div class="visualizer-panel">
      <app-visualizer
        [steps]="steps"
        [currentStepIndex]="currentStepIndex"
        (stepChange)="onVisualizerStepChange($event)"
      ></app-visualizer>
    </div>
    <div class="code-editor">
      <h3>Algorithm Code</h3>
      <pre #codeEditorPre><code><ng-container
        *ngFor="let line of selectedProblemCode.split('\n'); let i = index"><span
          class="line-number">{{ i + 1 }}</span><span
            class="code-line" [class.highlighted-line]="highlightedLines.includes(i + 1)"
            >{{ line }}</span><br></ng-container></code></pre>
    </div>
  </div>

</div>